#container{
    background-color:blue;
}

div{
    width: 100px;
    height: 100;
    background-color: brown;
}
,box{
    background-color:red;

}

p[title]{
    color:red;
}

a[href]{
    color:blue;
}