#container{
    background-color:blue;
}

/*div{
    width: 100px;
    height: 100;
    background-color: brown;
}
,box{
    background-color:red;

}
*/
p[title]{
    color:red;
}

a[href]{
    color:blue;
}

/*
div. first{}
div.second{}
div.parent{}
fixed properrty, absolute property.
All Html and css libraries can be found in bootstrap.com
just copy and paste.
Dont need to go detail in css
*/