.parent{
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid green;
    padding: 10px;

}

.child{
    width: 100px;
    height: 100px;
    border: 1px solid green;
    margin: 10px;